<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- Console appender configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-4level] %d{HH:mm:ss.SSS} [%logger{0}] %X{testContext}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!--Suppressing TestNG Logs with Logback-->
    <logger name="org.testng" level="WARN" />
</configuration>
